<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Se presentó un error en el sistema.</h1>
        <h2>Por favor contactar con el administrador del sistema.</h2>
    </hgroup>
</body>
</html>
